#about {
  width: $full;
  padding: 100px 50px;
  background-color: $black;
  color: $white;
  @include centerfull;
  flex-direction: column;
  gap: 50px;
  .heading {
    @include heading;
  }
  #aboutcenter {
    padding: 0 20px;
    gap: 20px;
    @include centervertical;
    justify-content: space-around;

    #teamimg {
      width: 50%;

      img {
        width: $full;
        height: $full;
      }
    }

    #aboutcnt {
      width: 50%;
      font-family: $fonttext;
      p {
        margin-top: 20px;
      }
    }
  }
}
@media (max-width: 820px) {
  #about {
    padding: 100px 0;
    #aboutcenter {
      flex-direction: column;

      #teamimg {
        width: $full;
        height: 500px;

        img {
          width: $full;
          height: $full;
          object-fit: cover;
        }
      }

      #aboutcnt {
        width: $full;
      }
    }
  }
}
