@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  text-align: center;
}
.overflow {
  overflow: hidden;
}
.active {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 230px;
  height: 100vh;
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: black;
  .links {
    ul {
      width: $full;
      @include centerfull;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.hamactive {
  .menu {
    display: none;
  }
  .close {
    font-size: 25px;
    display: block !important;
  }
}
