nav {
  width: 100%;
  position: fixed;
  height: 50px;
  top: 20px;
  padding: 0 20px;
  z-index: 5;
  overflow: hidden;
  #navbar {
    width: 800px;
    margin: auto;
    height: 100%;
    @include centervertical;
    justify-content: space-between;
    border: $whiteborder;
    border-radius: $rounded;
    backdrop-filter: blur(20px);
    padding: 0 20px;
    color: $white;
    font-family: $fonthead;

    .logo {
      font-size: 30px;
    }

    .links {
      ul {
        width: $full;
        @include centervertical;
        justify-content: space-between;
        gap: 20px;
        li {
          display: inline;
          list-style: none;
          a {
            text-decoration: none;
            color: $white;
            font-size: 18px;
          }
        }
      }
    }

    .burgermenu {
      display: $hide;
      .close {
        display: $hide;
      }
    }
  }
}

@media (max-width: 820px) {
  nav {
    #navbar {
      width: 100%;
      .links {
        display: $hide;
      }

      .burgermenu {
        display: block;
        .menu {
          font-size: 25px;
        }
      }
    }
  }
}
